@inherits SubItemDetailLineBase

<tr stye="background:grey">
    <td>
        @Item.Name
    </td>
    <td>
        @Item.Title
    </td>
    <td>
        <button class="btn btn-outline-primary btn-sm" @onclick="@(() => ShowDetail(Item))">
            Detail
        </button>
    </td>
</tr>
@if (Item.IsShowDetail)
{
    <tr>
        <td colspan="3">
            <div class="d-flex flex-column p-3">
                <div>
                    @Item.Paragraph
                </div>
                <div>
                    @Item.Image
                </div>
            </div>
        </td>
    </tr>
}