@page "/TSPPage"
<h3>tsppage</h3>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link @TabHeader1" @onclick="(()=>TabClick(1))" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected=@TabHeaderSelect1>Home</a>
        <a class="nav-item nav-link @TabHeader2" @onclick="(()=>TabClick(2))" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected=@TabHeaderSelect2>Team</a>
        <a class="nav-item nav-link @TabHeader3" @onclick="(()=>TabClick(3))" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected=@TabHeaderSelect3>Gallery</a>
        <a class="nav-item nav-link @TabHeader4" @onclick="(()=>TabClick(4))" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected=@TabHeaderSelect3>About us</a>
        <a class="nav-item nav-link @TabHeader5" @onclick="(()=>TabClick(5))" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected=@TabHeaderSelect3>Current Projects</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade @TabDetail1" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding-top:10px;">
        <TSPHome></TSPHome>
    </div>
    <div class="tab-pane fade @TabDetail2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding-top:10px;">
        <TSPTeam></TSPTeam>
    </div>
    <div class="tab-pane fade @TabDetail3" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding-top:10px;">
        <TSPGallery></TSPGallery>
    </div>
    <div class="tab-pane fade @TabDetail4" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding-top:10px;">
        <TSPUs></TSPUs>
    </div>
    <div class="tab-pane fade @TabDetail5" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="padding-top:10px;">
        <TSPProject></TSPProject>
    </div>
</div>
@code {
    private string TabHeader1 { get; set; } = "active";
    private string TabHeader2 { get; set; } = "";
    private string TabHeader3 { get; set; } = "";
    private string TabHeader4 { get; set; } = "";
    private string TabHeader5 { get; set; } = "";

    private string TabDetail1 { get; set; } = "show active";
    private string TabDetail2 { get; set; } = "";
    private string TabDetail3 { get; set; } = "";
    private string TabDetail4 { get; set; } = "";
    private string TabDetail5 { get; set; } = "";

    private string TabHeaderSelect1 { get; set; } = "true";
    private string TabHeaderSelect2 { get; set; } = "false";
    private string TabHeaderSelect3 { get; set; } = "false";
    private string TabHeaderSelect4 { get; set; } = "false";
    private string TabHeaderSelect5 { get; set; } = "false";

    protected void TabClick(int tabId)
    {
        switch (tabId)
        {
            case 1:
                TabHeader1 = "active";
                TabHeader2 = "";
                TabHeader3 = "";

                TabHeaderSelect1 = "true";
                TabHeaderSelect2 = "";
                TabHeaderSelect3 = "";

                TabDetail1 = "active show";
                TabDetail2 = "";
                TabDetail3 = "";

                TabHeader4 = "";
                TabHeaderSelect4 = "";
                TabDetail4 = "";

                TabHeader5 = "";
                TabHeaderSelect5 = "";
                TabDetail5 = "";
                break;
            case 2:
                TabHeader1 = "";
                TabHeader2 = "active";
                TabHeader3 = "";
                TabHeaderSelect1 = "";
                TabHeaderSelect2 = "true";
                TabHeaderSelect3 = "";
                TabDetail1 = "";
                TabDetail2 = "active show";
                TabDetail3 = "";

                TabHeader4 = "";
                TabHeaderSelect4 = "";
                TabDetail4 = "";

                TabHeader5 = "";
                TabHeaderSelect5 = "";
                TabDetail5 = "";
                break;
            case 3:
                TabHeader1 = "";
                TabHeader2 = "";
                TabHeader3 = "active";
                TabHeaderSelect1 = "";
                TabHeaderSelect2 = "";
                TabHeaderSelect3 = "true";
                TabDetail1 = "";
                TabDetail2 = "";
                TabDetail3 = "active show";

                TabHeader4 = "";
                TabHeaderSelect4 = "";
                TabDetail4 = "";

                TabHeader5 = "";
                TabHeaderSelect5 = "";
                TabDetail5 = "";
                break;
            case 4:
                TabHeader1 = "";
                TabHeader2 = "";
                TabHeader3 = "";
                TabHeaderSelect1 = "";
                TabHeaderSelect2 = "";
                TabHeaderSelect3 = "";
                TabDetail1 = "";
                TabDetail2 = "";
                TabDetail3 = "";

                TabHeader4 = "active";
                TabHeaderSelect4 = "true";
                TabDetail4 = "active show";

                TabHeader5 = "";
                TabHeaderSelect5 = "";
                TabDetail5 = "";
                break;
            case 5:
                TabHeader1 = "";
                TabHeader2 = "";
                TabHeader3 = "";
                TabHeaderSelect1 = "";
                TabHeaderSelect2 = "";
                TabHeaderSelect3 = "";
                TabDetail1 = "";
                TabDetail2 = "";
                TabDetail3 = "";

                TabHeader5 = "active";
                TabHeaderSelect5 = "true";
                TabDetail5 = "active show";

                TabHeader4 = "";
                TabHeaderSelect4 = "";
                TabDetail4 = "";
                break;
            default:
                break;
        }
    }
}
